<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAa7-kRmfu4m9blJX1evp62cubwYrGI19E</string>
	<key>GCM_SENDER_ID</key>
	<string>880066998267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>messager.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-7797a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-7797a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880066998267:ios:050fce2b3c7cc5a2d2a55e</string>
</dict>
</plist>